@import "@material/image-list/mdc-image-list";

@use "@material/image-list";

.my-image-list {
  @include image-list.standard-columns(3);
}
.text-center {
  text-align: center;
}
.mb {
  margin-bottom: 20px;
}
.block {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
